.box1 {
    width: 945px;
    height: 375px;

    /* background-image: url("../img/01.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; */

  background: url("../img/01.jpg") no-repeat center center;
  background-size: cover;
  margin: 0 auto;
}

p {
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 165px;
}